<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>Manish Traders</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<p th:text="'Hello, ' + ${name} + '!'" />
</body>

<div class="container importuser">
    <div class="form-group">
        <form method="POST" th:action="@{/calculus/import}" enctype="multipart/form-data">
            <input type="file" name="file"/></br></br>
            <button type="submit" class="btn btn-primary btn-lg" value="Import">Import
            </button>
        </form>
    </div>
</div>

<div>
    <form th:action="@{/logout}" method="post">
        <input type="submit" value="Sign Out">
    </form>
</div>


</html>